<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <div class="container">
        <div class="middle">testtesettsetstetesttesettsetstetesttesettsetstetesttesettsetste</div>
        <div class="left">left</div>
        <div class="right">right</div>
    </div>
</body>

<style>
    .container{
        padding: 0 200px;
    }
    .middle{
        width: 100%;
        height: 200px;
        float: left;
        background: paleturquoise;
    }

    .left{
        margin-left: -100%;
        width: 200px;
        height: 200px;
        float: left;
        background: palegoldenrod;
    }

    .right{
        margin-left: -200px;
        width: 200px;
        height: 200px;
        float: left;
        background:purple;
    }
</style>
</html>
